@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@font-face {
  font-family: "FedraSansBook";
  src: url("FedraSansBook/FedraSansBook.ttf");
}
body {
  font-family: "FedraSansBook";
  height: 100vh;
  background-image: url(/images/Completed\ Projects_BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  background: #fff;
  width: 100%;
  position: absolute;
  /* top: 88%; */
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.Contact {
  background: #3a8339;
  border-radius: 60px;
  color: #fff;
  border: 2px solid #ffff00;
}

.contact-link {
  color: #fff;
}
.contact-link:hover {
  color: #fff;
}

.dropbtn {
  /* background-color: #04aa6d; */
  color: #3a833d;
  /* font-size: 16px; */
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #3a833d;

  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Stay on top */
  top: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 50%;
  left: -73px;
  font-size: 36px;
  margin-left: 50px;
  background: #000;
  border-radius: 0px 35px 35px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 0px solid #fff;
  border-bottom: 20px solid transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.sidenav {
  right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav {
  right: 0;
}

.fa-angle-right {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}
.fa-angle-right:hover {
  transition: 0.2s;
  transform: rotate(180deg);
}

.form {
  margin: 30px;
}

.enquiry-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enquiry-head {
  color: #113904;
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
}

.enquiry-content {
  color: #298e0e;
  font-size: 12px;
  font-family: "poppins";
}

.eq-label {
  color: #113904;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
}

.eq-input {
  background-color: #dddddd;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
}

.eq-textarea {
  background-color: #dddddd;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}

.eq-input:focus-visible {
  border: none;
  outline: none;
}

.eq-submit {
  background-color: #1e8800;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.eq-submit:focus-visible {
  border: none;
}

.form-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px;
}

/* col-md-5 */

.mySwiper {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiper {
  position: relative;
  width: 100%;
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
}

.swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: 0.5;
  transform: scale(0.84);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
  width: 300px;
}

.swiper-backface-hidden .swiper-slide {
  transform: scale(0.84) translateZ(0);
}

.swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

.swiper-image {
  position: relative;
  width: 100%;
  padding-top: var(--swiper-image-ratio);
}

.swiper-image .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #929ec9;
}

.swiper-img {
  width: 250px;
  height: 300px;
  border: 3px solid #f6ffac;
  border-radius: 26px;
}

.swiper-button-prev {
  padding: 8px;
  width: 25px;
  height: 25px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  /* right: 0; */
  left: 75%;
  top: 110%;
}
.swiper-button-next {
  padding: 8px;
  width: 25px;
  height: 25px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 110%;
  right: 10%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 12px;
}

.border-line::before {
  position: absolute;
  content: "";
  top: 47px;
  left: 130px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 100px;
  height: 2px;
  transform: rotate(90deg);
}

/* .swiper-button-next {
  transform: translate(50%, -50%);
  right: calc((100% - var(--swiper-width)) / 2);
}

.swiper-button-prev {
  transform: translate(-50%, -50%);
  left: calc((100% - var(--swiper-width)) / 2);
} */

@media only screen and (max-width: 768px) {
  .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }

  .swiper-slide {
    width: var(--swiper-mobile-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }

  .swiper-backface-hidden .swiper-slide.swiper-slide {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }

  /* .swiper-button-next {
    right: calc((100% - var(--swiper-mobile-width)) / 2);
  }

  .swiper-button-prev {
    left: calc((100% - var(--swiper-mobile-width)) / 2);
  } */
}
/* col-md-5 */

.Completed {
  padding-top: 8%;
  margin: 0;
}
/* col-md-7 */
.details-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ap {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #0d4f28;
}

.cr {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #04a647;
}

.tn {
  font-size: 12px;
}

.fa-building,
.fa-rupee-sign,
.fa-wrench,
.fa-warehouse {
  font-size: 26px;
  font-weight: 600;
  color: #0d4f28;
}

.whitemudra{
  font-size: 30px;
  font-weight: 600;
  color: #03A648;
}

/* col-md-7 */
